@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Добро пожаловать на наш сайт</h1>
    <p>Мы рады Вас приветствовать на нашем сайте.</p>
    <p>Если вы здесь, значит Вас заинтересовало наше предложение.</p>
    <p>Для дальнейшего сотрудничества, вам необходимо выбрать менеджера проектов.</p>
    <h2>Как это сделать?</h2>
    <p>Все просто...</p>
    <p>Достаточно перейти на вкладку <a href="https://localhost:7257/Home/About/">"О нас"</a> и связаться с менеджером по контактам, указанным там же.</p>
    <h2>Успехов!!!</h2>
</div>